[submodule "docs/themes/relearn"]
	path = docs/themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "docs/themes/whisper"]
	path = docs/themes/whisper
	url = https://github.com/zerostaticthemes/hugo-whisper-theme.git
